.modal {
  display: none;
  opacity: 0;
  transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.modal::after {
  content: '';
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  opacity: 0.7;
}

.modal.active {
  display: block;
  opacity: 1;
  animation: opacityAnimation 1s;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showModal {
  0% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.modal__window {
  margin: 0;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 450px;
  width: 100%;
  animation: showModal 1s;
}

.modal__header {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 24px 30px 15px;
  margin-bottom: 17px;
}

.modal__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.modal__id {
  color: var(--text-grey);
  font-size: 12px;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__close-btn {
  position: relative;
  width: 29px;
  height: 29px;
  border: none;
  background: none;
}

.modal__close-btn:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 13px;
  left: 4px;
  width: 20px;
  background: var(--black);
  transform-origin: center;
  transform: rotate(45deg);
}

.modal__close-btn:after {
  content: '';
  position: absolute;
  height: 1px;
  top: 13px;
  left: 4px;
  width: 20px;
  background: var(--black);
  transform-origin: center;
  transform: rotate(315deg);
}

.modal__container {
  position: relative;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 23px;
}

.modal__container-inputs .modal__container:last-child {
  margin-bottom: 18px;
}

.modal__label {
  position: absolute;
  top: 0;
  font-size: 14px;
  opacity: 1;
  transform: translateY(0);
  transform-origin: left;
  transition: all 0.2s ease-out;
}

.modal__required {
  color: var(--purpure);
}

.modal__input {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 19px;
  padding: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--black);
}

.modal__input::placeholder {
  opacity: 0;
}

.modal__input:focus ~ .modal__label,
.modal__input:not(:placeholder-shown) ~ .modal__label {
  transform: translateY(-18px) scale(0.7);
}

.modal__container-selection {
  background: var(--border-grey-03);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__add-select-contact {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  padding-left: 8px;
}

.image__add-select-contact {
  margin-right: 4px;
}

.modal__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.modal__btn-save {
  color: var(--white);
  background-color: var(--purpure);
  border: none;
  outline: none;
  max-width: 147px;
  width: 100%;
  padding: 12.5px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s background ease-in-out;
}

.modal__btn-save:hover {
  background-color: var(--purpure-hover);
}

.modal__btn-save:active {
  background-color: var(--purpure-active);
}

.modal__btn-delete {
  font-size: 12px;
  font-weight: 400;
  border: none;
  outline: none;
  background: none;
  color: var(--black);
  text-decoration: solid;
  cursor: pointer;
  border-bottom: 1px solid var(--black);
  padding: 0;
  margin-bottom: 5px;
}

.modal__container-selection--mod {
  padding: 25px 30px;
}

.modal__selection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}

.select__list {
  display: flex;
  width: 100%;
  height: 37px;
}

.fillter-choices {
  position: relative;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  width: 32%;
}

.fillter-choices:focus {
  outline: none;
}

.fillter-choices:last-child {
  margin-bottom: 0;
}

.fillter-choices.is-open {
  overflow: visible;
}

.fillter-choices.is-disabled .fillter-choices__inner,
.fillter-choices.is-disabled .fillter-choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.fillter-choices.is-disabled .fillter-choices__item {
  cursor: not-allowed;
}

.fillter-choices [hidden] {
  display: none;
}

.fillter-choices[data-type*=select-one] {
  cursor: pointer;
}

.fillter-choices[data-type*=select-one] .fillter-choices__inner {
  padding: 11px 12px;
  box-sizing: border-box;
  height: 37px;
}

.fillter-choices[data-type*=select-one]::after {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -6px;
  border-right: 1px solid var(--purpure);
  border-bottom: 1px solid var(--purpure);
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: center;
  z-index: 2;
}

.fillter-choices[data-type*=select-one].is-open::after {
  transform: rotate(225deg) translate(-2px, -2px);
}

.fillter-choices__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: 1px solid var(--border-grey);
  background-color: var(--select-background-2);
  border-radius: 0;
  overflow: hidden;
}

.is-focused .fillter-choices__inner,
.is-open .fillter-choices__inner {
  background-color: var(--white-transparent-2);
}

.is-open .fillter-choices__inner {
  border-radius: 0;
}

.fillter-choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.fillter-choices__list--single {
  display: inline-block;
  width: 100%;
}

.fillter-choices__list--single .fillter-choices__item {
  width: 100%;
}

.fillter-choices__list--dropdown,
.fillter-choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  border: 1px solid var(--border-grey);
  background-color: var(--select-background);
  top: 100%;
  margin-top: -1px;
  border-radius: 0;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.fillter-choices__list--dropdown,
.is-active.fillter-choices__list[aria-expanded] {
  visibility: visible;
}

.fillter-choices__list--dropdown .fillter-choices__list,
.fillter-choices__list[aria-expanded] .fillter-choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.fillter-choices__list--dropdown .fillter-choices__item,
.fillter-choices__list[aria-expanded] .fillter-choices__item {
  position: relative;
  padding: 12px 15px;
  color: var(--wgrey-color);
}

.fillter-choices__list--dropdown .fillter-choices__item.is-selected {
  display: none;
}

.fillter-choices__list--dropdown .fillter-choices__item--selectable.is-highlighted,
.fillter-choices__list[aria-expanded] .fillter-choices__item--selectable.is-highlighted {
  background-color: var(--white-transparent-2);
}

.fillter-choices__item {
  cursor: default;
}

.fillter-choices__item--selectable {
  cursor: pointer;
}

.fillter-choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.select__input {
  box-sizing: border-box;
  width: 68%;
  padding: 6px 9px;
  border-radius: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid var(--border-grey);
  background-color: var(--white);
  outline: none;
}

.select__input::placeholder {
  font-size: 14px;
  line-height: 19px;
}

.select__list:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 460px) {
  .modal__window {
    max-width: 300px;
  }

  .modal__header {
    padding: 24px 15px 15px;
  }

  .modal__container {
    padding: 0 17px;
    margin-bottom: 34px;
  }

  .modal__container-inputs .modal__container:last-child {
    margin-bottom: 25px;
  }

  .modal__container-selection--mod {
    padding: 25px 15px;
  }
  .fillter-choices {
    width: 41%;
  }
  .select__input {
    width: 59%;
    padding: 6px 5px;
  }
  .select__input::placeholder {
    font-size: 12px;
  }
  .modal__selection {
    margin-bottom: 29px;
  }
  .modal__close {
    top: 4px;
    right: 3px;
  }
  .modal__btn {
    padding-bottom: 20px;
  }
}
